@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

body{
    background-color: black;
    margin-top: 0px;
    overflow: hidden;
    width: 100%;
}

#matrix{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Orbitron', sans-serif;
}

#matrix div {
    width: 18px;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1px;
    color: green;
    font-weight: 600;
    transition-duration: 0.2s;
}

#matrix div:hover{
    opacity: 0.8;
    transform: scale(1.05);
}